@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

#page-wrapper {
  font-family: 'Raleway', sans-serif;
}

hr {
  margin: 30px auto 30px auto;
  color: grey;
  width: 50%;
  display: block;
  text-align: center;
}

header {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(244, 140, 140);
  width: 100%;
}

#logo {
  padding: 10px 10px 0px 10px;
}

#header-img {
  width: 200px;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}

nav > a {
  padding: 0 10px;
}

body {
  margin: auto;
  margin-top: 100px;
  text-align: center;
}

@media (min-width: 501px) {
  #video {
    width: 800px;
  }
}

@media (max-width: 500px) {
  #video {
    width: 90vw;
    height: 300px;
  }
}

input {
  font-size: 18px;
  display: block;
  margin: auto;
  color: black;
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: grey;
  font-family: 'Raleway', sans-serif;
}

#pricing {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: calc(50% / 3);
  margin: 10px;
  border: 1px solid #000;
  border-radius: 3px;
}

.product > .level {
  background-color: #ddd;
  color: black;
  padding: 15px 0;
  width: 100%;
  text-transform: uppercase;
  font-weight: 700;
}

.product > h2 {
  margin-top: 15px;
}

.product > ol {
  margin: 10px 0;
}

.product > ol > li {
  padding: 5px 0;
}

.product > button {
  border: 0;
  margin: 15px 0;
  background-color: #f1c40f;
  font-weight: 400;
  font-size: 22px;
  border-radius: 5px;
}

.product > button:hover {
  background-color: orange;
  transition: background-color 1s;
}

@media (max-width: 800px) {
  #pricing {
    flex-direction: column;
  }
  .product {
    max-width: 90vw;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 10px;
  }
}

#testimonials {
  max-width: 90vw;
  margin: auto;
}

#testimonials p {
  font-style: italic;
  font-weight: 800;
  font-size: 20px;
}

#email-label {
  display: inline;
}

input[type='email'] {
  display: inline;
  color: black;
  margin: 10px;
  font-size: 20px;
  padding: 5px;
  margin-bottom: 20px;
}

form {
  margin: 30px;
}

#submit_message {
  color: red;
}
